#
# Copyright (c) 2021, Oracle and/or its affiliates.
#
# Licensed under the Universal Permissive License v 1.0 as shown at https://oss.oracle.com/licenses/upl.
#
# Create user and group
{{^usingBusybox}}
RUN if [ -z "$(getent group {{groupid}})" ]; then hash groupadd &> /dev/null && groupadd {{groupid}} || exit -1 ; fi \
&& if [ -z "$(getent passwd {{userid}})" ]; then hash useradd &> /dev/null && useradd -g {{groupid}} {{userid}} || exit -1; fi \
&& mkdir -p /u01 \
&& chown {{userid}}:{{groupid}} /u01 \
&& chmod 775 /u01
{{/usingBusybox}}
{{#usingBusybox}}
RUN addgroup {{groupid}} && adduser -D -G {{groupid}} {{userid}}
{{/usingBusybox}}