#
# Copyright (c) 2019, 2020 Oracle and/or its affiliates.  All rights reserved.
#
# Licensed under the Universal Permissive License v 1.0 as shown at https://oss.oracle.com/licenses/upl.
#
#
FROM {{baseImage}} as OS_UPDATE
LABEL com.oracle.weblogic.imagetool.buildid="{{buildId}}"
USER root

{{#useYum}}
RUN yum -y --downloaddir={{{tmpDir}}} install gzip tar unzip \
 && yum -y --downloaddir={{{tmpDir}}} clean all \
 && rm -rf /var/cache/yum/* \
 && rm -rf {{{tmpDir}}}
{{/useYum}}
{{#useAptGet}}
RUN apt-get -y update \
 && apt-get -y upgrade \
 && apt-get -y install gzip tar unzip \
 && apt-get -y clean all
{{/useAptGet}}
{{#useApk}}
RUN apk update \
 && apk upgrade \
 && rm -rf /var/cache/apk/*
{{/useApk}}
{{#useZypper}}
RUN zypper -nq update \
 && zypper -nq clean \
 && rm -rf /var/cache/zypp/*
{{/useZypper}}

## Create user and group
RUN if [ -z "$(getent group {{groupid}})" ]; then hash groupadd &> /dev/null && groupadd {{groupid}} || exit -1 ; fi \
 && if [ -z "$(getent passwd {{userid}})" ]; then hash useradd &> /dev/null && useradd -g {{groupid}} {{userid}} || exit -1; fi \
 && mkdir /u01 \
 && chown {{userid}}:{{groupid}} /u01

{{#installJava}}
# Install Java
FROM OS_UPDATE as JDK_BUILD
LABEL com.oracle.weblogic.imagetool.buildid="{{buildId}}"

ENV JAVA_HOME={{{java_home}}}

COPY --chown={{userid}}:{{groupid}} {{java_pkg}} {{{tempDir}}}/

USER {{userid}}

{{#beforeJdkInstall}}
    {{{.}}}
{{/beforeJdkInstall}}

RUN tar xzf {{{tempDir}}}/{{java_pkg}} -C /u01 \
 && mv /u01/jdk* {{{java_home}}} \
 && rm -rf {{{tempDir}}}

{{#afterJdkInstall}}
    {{{.}}}
{{/afterJdkInstall}}
{{/installJava}}

# Install Middleware
FROM OS_UPDATE as WLS_BUILD
LABEL com.oracle.weblogic.imagetool.buildid="{{buildId}}"

ENV JAVA_HOME={{{java_home}}} \
    ORACLE_HOME={{{oracle_home}}} \
    OPATCH_NO_FUSER=true

RUN mkdir -p {{{oracle_home}}} \
{{#isInventoryPointerFileSet}}
    && mkdir -p {{inv_loc}} \
    && chown {{userid}}:{{groupid}} {{inv_loc}} \
{{/isInventoryPointerFileSet}}
 && mkdir -p {{orainv_dir}} \
 && chown {{userid}}:{{groupid}} {{orainv_dir}} \
 && chown {{userid}}:{{groupid}} {{{oracle_home}}}

{{#installJava}}COPY --from=JDK_BUILD --chown={{userid}}:{{groupid}} {{{java_home}}} {{{java_home}}}/
{{/installJava}}

{{#installPackages}}COPY --chown={{userid}}:{{groupid}} {{installerFilename}} {{responseFile.name}} {{{tempDir}}}/
{{/installPackages}}
COPY --chown={{userid}}:{{groupid}} oraInst.loc {{inv_loc}}/

{{#isOpatchPatchingEnabled}}
    COPY --chown={{userid}}:{{groupid}} {{{opatchFileName}}} {{{tempDir}}}/opatch/
{{/isOpatchPatchingEnabled}}

{{#isPatchingEnabled}}
    COPY --chown={{userid}}:{{groupid}} patches/* {{{tempDir}}}/patches/
{{/isPatchingEnabled}}

USER {{userid}}

{{#beforeFmwInstall}}
    {{{.}}}
{{/beforeFmwInstall}}

{{#installPackages}}
RUN {{#isZip}}unzip -q {{{tempDir}}}/{{installerFilename}} "*.jar" -d {{{tempDir}}} &&{{/isZip}} \
 {{{java_home}}}/bin/java -Xmx1024m -jar {{{tempDir}}}/{{jarName}} -silent ORACLE_HOME={{{oracle_home}}} \
    -responseFile {{{tempDir}}}/{{responseFile.name}} -invPtrLoc {{inv_loc}}/oraInst.loc -ignoreSysPrereqs -force -novalidation
{{/installPackages}}

{{#isOpatchPatchingEnabled}}
RUN cd {{{tempDir}}}/opatch \
 && {{{java_home}}}/bin/jar -xf {{{tempDir}}}/opatch/{{{opatchFileName}}} \
 && {{{java_home}}}/bin/java -jar {{{tempDir}}}/opatch/6880880/opatch_generic.jar -silent -ignoreSysPrereqs -force -novalidation oracle_home={{{oracle_home}}}
{{/isOpatchPatchingEnabled}}

{{#isPatchingEnabled}}
RUN {{{oracle_home}}}/OPatch/opatch napply -silent -oh {{{oracle_home}}} -phBaseDir {{{tempDir}}}/patches \
 && {{{oracle_home}}}/OPatch/opatch util cleanup -silent -oh {{{oracle_home}}}
{{/isPatchingEnabled}}

{{#afterFmwInstall}}
    {{{.}}}
{{/afterFmwInstall}}

{{#isWdtEnabled}}
    FROM WLS_BUILD as WDT_BUILD
    LABEL com.oracle.weblogic.imagetool.buildid="{{buildId}}"

    ARG WDT_PKG

    ENV WDT_PKG=${WDT_PKG:-weblogic-deploy.zip} \
        WLSDEPLOY_PROPERTIES="{{wlsdeploy_properties}} -Djava.security.egd=file:/dev/./urandom" \
        LC_ALL=${DEFAULT_LOCALE:-en_US.UTF-8} \
        PROPERTIES_FILE_DIR={{{oracle_home}}}/properties \
        DOMAIN_HOME={{{domain_home}}}

    COPY --chown={{userid}}:{{groupid}} ${WDT_PKG} {{{tempDir}}}/

    RUN mkdir -p {{{wdt_home}}} \
    && chown {{userid}}:{{groupid}} {{{wdt_home}}}

    USER {{userid}}

    RUN cd {{{wdt_home}}} \
    && mkdir models \
    && mkdir -p $(dirname {{{domain_home}}}) \
    && mkdir -p ${PROPERTIES_FILE_DIR}

    {{#wdtModels}}
        COPY --chown={{userid}}:{{groupid}} {{{.}}} {{{wdt_home}}}/models/
    {{/wdtModels}}

    {{#wdtArchives}}
        COPY --chown={{userid}}:{{groupid}} {{{.}}} {{{wdt_home}}}/models/
    {{/wdtArchives}}

    {{#wdtVariables}}
        COPY --chown={{userid}}:{{groupid}} {{{.}}} {{{wdt_home}}}/models/
    {{/wdtVariables}}

    {{#beforeWdtCommand}}
        {{{.}}}
    {{/beforeWdtCommand}}

    RUN unzip -q {{{tempDir}}}/$WDT_PKG -d {{{wdt_home}}} \
        && cd {{{wdt_home}}}/weblogic-deploy/bin \
    {{^modelOnly}}
        && ./createDomain.sh \
        -oracle_home {{{oracle_home}}} \
        -domain_home {{{domain_home}}} \
        -domain_type {{domainType}} \
        {{#runRcu}}
            -run_rcu \
        {{/runRcu}}
        {{{wdtVariableFileArgument}}} {{{wdtModelFileArgument}}} {{{wdtArchiveFileArgument}}}
    {{/modelOnly}}
    {{#modelOnly}}
        && chmod u+x ./*.sh \
        && ./validateModel.sh {{^strictValidation}}-method lax{{/strictValidation}} \
        -oracle_home {{{oracle_home}}} \
        -domain_type {{domainType}} \
        {{{wdtVariableFileArgument}}} {{{wdtModelFileArgument}}} {{{wdtArchiveFileArgument}}}
    {{/modelOnly}}

    {{#afterWdtCommand}}
        {{{.}}}
    {{/afterWdtCommand}}

{{/isWdtEnabled}}

FROM OS_UPDATE as FINAL_BUILD

ARG ADMIN_NAME
ARG ADMIN_HOST
ARG ADMIN_PORT
ARG MANAGED_SERVER_PORT

ENV ORACLE_HOME={{{oracle_home}}} \
{{#installJava}}
    JAVA_HOME={{{java_home}}} \
{{/installJava}}
{{#isWdtEnabled}}
    ADMIN_NAME=${ADMIN_NAME:-admin-server} \
    ADMIN_HOST=${ADMIN_HOST:-wlsadmin} \
    ADMIN_PORT=${ADMIN_PORT:-7001} \
    MANAGED_SERVER_NAME=${MANAGED_SERVER_NAME:-} \
    MANAGED_SERVER_PORT=${MANAGED_SERVER_PORT:-8001} \
    DOMAIN_HOME={{{domain_home}}} \
{{/isWdtEnabled}}
    LC_ALL=${DEFAULT_LOCALE:-en_US.UTF-8} \
    PROPERTIES_FILE_DIR={{{oracle_home}}}/properties \
    PATH=${PATH}:{{{java_home}}}/bin:{{{oracle_home}}}/oracle_common/common/bin:{{{oracle_home}}}/wlserver/common/bin:{{{oracle_home}}}{{#isWdtEnabled}}:${{{domain_home}}}/bin{{/isWdtEnabled}}

LABEL com.oracle.weblogic.imagetool.buildid="{{buildId}}"

{{#installJava}}
    COPY --from=JDK_BUILD --chown={{userid}}:{{groupid}} {{{java_home}}} {{{java_home}}}/
{{/installJava}}

COPY --from=WLS_BUILD --chown={{userid}}:{{groupid}} {{{oracle_home}}} {{{oracle_home}}}/
{{#copyOraInst}}
    COPY --from=WLS_BUILD --chown={{userid}}:{{groupid}} {{inv_loc}}/oraInst.loc  {{inv_loc}}/oraInst.loc
{{/copyOraInst}}
{{#copyOraInventoryDir}}
    COPY --from=WLS_BUILD --chown={{userid}}:{{groupid}} {{orainv_dir}} {{orainv_dir}}/
{{/copyOraInventoryDir}}

{{#isWdtEnabled}}
    {{#modelOnly}}
        COPY --from=WDT_BUILD --chown={{userid}}:{{groupid}} {{wdt_home}} {{wdt_home}}/
    {{/modelOnly}}
    {{^modelOnly}}
        COPY --from=WDT_BUILD --chown={{userid}}:{{groupid}} {{{domain_home}}} {{{domain_home}}}/
    {{/modelOnly}}
{{/isWdtEnabled}}

{{#isWdtEnabled}}
    # Expose admin server, managed server port
    EXPOSE $ADMIN_PORT $MANAGED_SERVER_PORT
{{/isWdtEnabled}}

USER {{userid}}
WORKDIR {{{work_dir}}}

#ENTRYPOINT /bin/bash

{{#finalBuildCommands}}
    {{{.}}}
{{/finalBuildCommands}}
