#
# Copyright (c) 2019 Oracle and/or its affiliates. All rights reserved.
#
# Licensed under the Universal Permissive License v 1.0 as shown at http://oss.oracle.com/licenses/upl.
#
#
FROM {{baseImage}} as OS_UPDATE
LABEL WlsImageToolLayer="intermediate"
USER root

{{#useYum}}
RUN yum -y --downloaddir={{{tmpDir}}} install gzip tar unzip \
 && yum -y --downloaddir={{{tmpDir}}} clean all \
 && rm -rf {{{tmpDir}}}
{{/useYum}}
{{#useAptGet}}
RUN apt-get -y update \
 && apt-get -y upgrade \
 && apt-get -y install gzip tar unzip \
 && apt-get -y clean all
{{/useAptGet}}
{{#useApk}}
RUN apk update \
 && apk upgrade \
 && rm -rf /var/cache/apk/*
{{/useApk}}
{{#useZypper}}
RUN zypper -nq update \
 && zypper -nq clean \
 && rm -rf /var/cache/zypp/*
{{/useZypper}}

## Create user and group
RUN if [ -z "$(getent group {{groupid}})" ]; then hash groupadd &> /dev/null && groupadd {{groupid}} || exit -1 ; fi \
 && if [ -z "$(getent passwd {{userid}})" ]; then hash useradd &> /dev/null && useradd -g {{groupid}} {{userid}} || exit -1; fi \
 && mkdir /u01 \
 && chown {{userid}}:{{groupid}} /u01

{{#installJava}}
FROM OS_UPDATE as JDK_BUILD
LABEL WlsImageToolLayer="intermediate"
ARG JAVA_PKG

ENV JAVA_PKG=${JAVA_PKG:-server-jre-*-linux-x64.tar.gz} \
    JAVA_HOME={{{java_home}}}

COPY --chown={{userid}}:{{groupid}} $JAVA_PKG {{{tmpDir}}}/

USER {{userid}}

RUN tar xzf {{{tempDir}}}/$JAVA_PKG -C /u01 \
 && mv /u01/jdk* {{{java_home}}} \
 && rm -rf {{{tempDir}}}
{{/installJava}}

FROM OS_UPDATE as WLS_BUILD
LABEL WlsImageToolLayer="intermediate"
ARG WLS_PKG
ARG INV_LOC
ARG ORAINST
ARG PATCHDIR

ENV WLS_PKG=${WLS_PKG:-fmw_12.2.1.3.0_wls_Disk1_1of1.zip} \
    JAVA_HOME={{{java_home}}} \
    ORACLE_HOME={{{oracle_home}}} \
    INV_LOC=${INV_LOC:-/u01/oracle/oraInventory} \
    ORAINST=${ORAINST:-oraInst.loc} \
    OPATCH_NO_FUSER=true \
    PATCHDIR=${PATCHDIR:-patches}

RUN mkdir -p {{{oracle_home}}} \
 && chown {{userid}}:{{groupid}} {{{oracle_home}}}

# Install base WLS
{{#installJava}}
    COPY --from=JDK_BUILD --chown={{userid}}:{{groupid}} {{{java_home}}} {{{java_home}}}/
{{/installJava}}

COPY --chown={{userid}}:{{groupid}} $WLS_PKG wls.rsp {{{tempDir}}}/
COPY --chown={{userid}}:{{groupid}} $ORAINST $INV_LOC/

{{#isOpatchPatchingEnabled}}
    COPY --chown={{userid}}:{{groupid}} p28186730_139400_Generic.zip {{{tmpDir}}}/opatch/
{{/isOpatchPatchingEnabled}}

{{#isPatchingEnabled}}
    COPY --chown={{userid}}:{{groupid}} ${PATCHDIR}/* {{{tmpDir}}}/patches/
{{/isPatchingEnabled}}

USER {{userid}}

RUN unzip -q {{{tmpDir}}}/$WLS_PKG -d {{{tmpDir}}} \
 && {{{java_home}}}/bin/java -Xmx1024m -jar {{{tmpDir}}}/fmw_*.jar -silent ORACLE_HOME={{{oracle_home}}} \
    -responseFile {{{tmpDir}}}/wls.rsp -invPtrLoc $INV_LOC/$ORAINST -ignoreSysPrereqs -force -novalidation \
{{#isOpatchPatchingEnabled}}
 && cd {{{tmpDir}}}/opatch \
 && {{{java_home}}}/bin/jar -xf {{{tmpDir}}}/opatch/p28186730_139400_Generic.zip \
 && {{{java_home}}}/bin/java -jar {{{tmpDir}}}/opatch/6880880/opatch_generic.jar -silent -ignoreSysPrereqs -force -novalidation oracle_home={{{oracle_home}}} \
{{/isOpatchPatchingEnabled}}
{{#isPatchingEnabled}}
 && {{{oracle_home}}}/OPatch/opatch napply -silent -oh {{{oracle_home}}} -phBaseDir {{{tmpDir}}}/patches \
 && {{{oracle_home}}}/OPatch/opatch util cleanup -silent -oh {{{oracle_home}}} \
{{/isPatchingEnabled}}
 && rm -rf {{{tempDir}}}

{{#isWdtEnabled}}
    FROM WLS_BUILD as WDT_BUILD
    LABEL WlsImageToolLayer="intermediate"

    ARG WDT_PKG
    ARG DOMAIN_PARENT
    ARG DOMAIN_HOME
    ARG RCU_RUN_FLAG

    ENV WDT_PKG=${WDT_PKG:-weblogic-deploy.zip} \
        WLSDEPLOY_PROPERTIES="{{wlsdeploy_properties}} -Djava.security.egd=file:/dev/./urandom" \
        DOMAIN_PARENT=${DOMAIN_PARENT:-/u01/domains} \
        LC_ALL=${DEFAULT_LOCALE:-en_US.UTF-8} \
        PROPERTIES_FILE_DIR={{{oracle_home}}}/properties \
        RCU_RUN_FLAG=${RCU_RUN_FLAG:-} \
        DOMAIN_HOME=${DOMAIN_HOME:-/u01/domains/base_domain} \
        PATH=${PATH}:${DOMAIN_HOME}/bin

    COPY --chown={{userid}}:{{groupid}} ${WDT_PKG} {{{tmpDir}}}/

    RUN mkdir -p {{{wdt_home}}} \
    && chown {{userid}}:{{groupid}} {{{wdt_home}}}

    USER {{userid}}

    RUN cd {{{wdt_home}}} \
    && mkdir models archives variables \
    && mkdir -p $(dirname ${DOMAIN_HOME}) \
    && mkdir -p ${PROPERTIES_FILE_DIR}

    {{#wdtModels}}
        COPY --chown={{userid}}:{{groupid}} {{.}} {{{wdt_home}}}/models/
    {{/wdtModels}}

    {{#wdtArchives}}
        COPY --chown={{userid}}:{{groupid}} {{.}} {{{wdt_home}}}/archives/
    {{/wdtArchives}}

    {{#wdtVariables}}
        COPY --chown={{userid}}:{{groupid}} {{.}} {{{wdt_home}}}/variables/
    {{/wdtVariables}}

    USER {{userid}}

    RUN unzip -q {{{tmpDir}}}/$WDT_PKG -d {{{wdt_home}}} \
    && if [ -n "${RCU_RUN_FLAG}" ]; then RCU_RUN_OPT="-run_rcu"; fi
    {{^modelOnly}}
        RUN cd {{{wdt_home}}}/weblogic-deploy/bin \
        && ./createDomain.sh \
        -oracle_home {{{oracle_home}}} \
        -domain_home ${DOMAIN_HOME} \
        -domain_type {{domainType}} \
        $RCU_RUN_OPT \
        {{{wdtVariableFileArgument}}} {{{wdtModelFileArgument}}} {{{wdtArchiveFileArgument}}}
    {{/modelOnly}}
    {{#modelOnly}}
        RUN cd {{{wdt_home}}} \
        && cd weblogic-deploy/bin \
        && chmod u+x ./*.sh \
        && ./validateModel.sh \
        -oracle_home {{{oracle_home}}} \
        {{{wdtVariableFileArgument}}} {{{wdtModelFileArgument}}} {{{wdtArchiveFileArgument}}}
    {{/modelOnly}}

{{/isWdtEnabled}}

FROM {{baseImage}} as FINAL_BUILD

{{#isWdtEnabled}}
ARG DOMAIN_PARENT
ARG DOMAIN_HOME
{{/isWdtEnabled}}
ARG ADMIN_NAME
ARG ADMIN_HOST
ARG ADMIN_PORT
ARG MANAGED_SERVER_PORT

ENV ORACLE_HOME={{{oracle_home}}} \
{{#installJava}}
    JAVA_HOME={{{java_home}}} \
{{/installJava}}
{{#isWdtEnabled}}
    ADMIN_NAME=${ADMIN_NAME:-admin-server} \
    ADMIN_HOST=${ADMIN_HOST:-wlsadmin} \
    ADMIN_PORT=${ADMIN_PORT:-7001} \
    MANAGED_SERVER_NAME=${MANAGED_SERVER_NAME:-} \
    MANAGED_SERVER_PORT=${MANAGED_SERVER_PORT:-8001} \
    DOMAIN_PARENT=${DOMAIN_PARENT:-/u01/domains} \
    DOMAIN_HOME=${DOMAIN_HOME:-/u01/domains/base_domain} \
{{/isWdtEnabled}}
    LC_ALL=${DEFAULT_LOCALE:-en_US.UTF-8} \
    PROPERTIES_FILE_DIR={{{oracle_home}}}/properties \
    PATH=${PATH}:{{{java_home}}}/bin:{{{oracle_home}}}/oracle_common/common/bin:{{{oracle_home}}}/wlserver/common/bin:{{{oracle_home}}}{{#isWdtEnabled}}:${DOMAIN_HOME}/bin{{/isWdtEnabled}}

## Create user and group
RUN if [ -z "$(getent group {{groupid}})" ]; then hash groupadd &> /dev/null && groupadd {{groupid}} || exit -1 ; fi \
 && if [ -z "$(getent passwd {{userid}})" ]; then hash useradd &> /dev/null && useradd -g {{groupid}} {{userid}} || exit -1; fi \
 && mkdir /u01 \
 && chown {{userid}}:{{groupid}} /u01

{{#installJava}}
    COPY --from=JDK_BUILD --chown={{userid}}:{{groupid}} {{{java_home}}} {{{java_home}}}/
{{/installJava}}
COPY --from=WLS_BUILD --chown={{userid}}:{{groupid}} {{{oracle_home}}} {{{oracle_home}}}/
{{#isWdtEnabled}}
    {{#modelOnly}}
        COPY --from=WDT_BUILD --chown={{userid}}:{{groupid}} {{wdt_home}} {{wdt_home}}/
    {{/modelOnly}}
    {{^modelOnly}}
        COPY --from=WDT_BUILD --chown={{userid}}:{{groupid}} $DOMAIN_HOME $DOMAIN_HOME/
    {{/modelOnly}}
{{/isWdtEnabled}}

USER {{userid}}
WORKDIR /

{{#isWdtEnabled}}
    # Expose admin server, managed server port
    EXPOSE $ADMIN_PORT $MANAGED_SERVER_PORT
{{/isWdtEnabled}}

#ENTRYPOINT /bin/bash

