#
# Copyright (c) 2021, Oracle and/or its affiliates.
#
# Licensed under the Universal Permissive License v 1.0 as shown at https://oss.oracle.com/licenses/upl.
#
# Create user and group
{{^usingBusybox}}
RUN if [ -z "$(getent group oracle)" ]; then groupadd oracle || exit 1 ; fi \
 && if [ -z "$(getent group {{groupid}})" ]; then groupadd {{groupid}} || exit 1 ; fi \
 && if [ -z "$(getent passwd {{userid}})" ]; then useradd -g {{groupid}} {{userid}} || exit 1; fi \
 && mkdir -p /u01 \
 && chown {{userid}}:{{groupid}} /u01 \
 && chmod 775 /u01
{{/usingBusybox}}
{{#usingBusybox}}
RUN if [ -z "$(grep ^oracle: /etc/group)" ]; then addgroup oracle || exit 1 ; fi \
 && if [ -z "$(grep ^{{groupid}}: /etc/group)" ]; then addgroup {{groupid}} || exit 1 ; fi \
 && if [ -z "$(grep ^{{userid}}: /etc/passwd)" ]; then adduser -D -G {{groupid}} {{userid}} || exit 1 ; fi
{{/usingBusybox}}