# Copyright (c) 2021, 2024, Oracle and/or its affiliates.
# Licensed under the Universal Permissive License v 1.0 as shown at https://oss.oracle.com/licenses/upl.
#
# Copy WDT files or domain into the final image

{{#modelOnly}}
    RUN mkdir -p {{{domain_parent}}} {{{wdt_home}}} {{{wdt_model_home}}} \
    && chown {{userid}}:{{groupid}} {{{domain_parent}}} {{{wdt_home}}} {{{wdt_model_home}}}
    COPY --from=wdt_build --chown={{userid}}:{{groupid}} {{wdt_home}} {{wdt_home}}/
    {{#isWdtModelHomeOutsideWdtHome}}
        COPY --from=wdt_build --chown={{userid}}:{{groupid}} {{wdt_model_home}} {{wdt_model_home}}/
    {{/isWdtModelHomeOutsideWdtHome}}
    {{#useOwnerPermsForGroup}}
        RUN chmod -R g=u {{{domain_parent}}} {{{wdt_home}}} {{{wdt_model_home}}}
    {{/useOwnerPermsForGroup}}
{{/modelOnly}}
{{^modelOnly}}
    COPY --from=wdt_build --chown={{userid}}:{{groupid}} {{{domain_home}}} {{{domain_home}}}/
    {{#useOwnerPermsForGroup}}
        RUN chmod -R g=u {{{domain_home}}}
    {{/useOwnerPermsForGroup}}
{{/modelOnly}}