#
# Copyright (c) 2021, Oracle and/or its affiliates.
#
# Licensed under the Universal Permissive License v 1.0 as shown at https://oss.oracle.com/licenses/upl.
#
# Update OPatch and apply WebLogic patches
{{#isOpatchPatchingEnabled}}
    COPY --chown={{userid}}:{{groupid}} {{{opatchFileName}}} {{{tempDir}}}/opatch/
    RUN cd {{{tempDir}}}/opatch \
    && {{{java_home}}}/bin/jar -xf {{{tempDir}}}/opatch/{{{opatchFileName}}} \
    && {{{java_home}}}/bin/java -jar {{{tempDir}}}/opatch/6880880/opatch_generic.jar -silent -ignoreSysPrereqs -force -novalidation oracle_home={{{oracle_home}}} \
    && rm -rf {{{tempDir}}}
{{/isOpatchPatchingEnabled}}

{{#isPatchingEnabled}}
    COPY --chown={{userid}}:{{groupid}} patches/* {{{tempDir}}}/patches/

    {{^strictPatchOrdering}}
        # Apply all patches provided at the same time
        RUN {{{oracle_home}}}/OPatch/opatch napply -silent -oh {{{oracle_home}}} -nonrollbackable -phBaseDir {{{tempDir}}}/patches \
        && test $? -eq 0 \
        && {{{oracle_home}}}/OPatch/opatch util cleanup -silent -oh {{{oracle_home}}}
    {{/strictPatchOrdering}}
    {{#strictPatchOrdering}}
        # Apply one patch at a time in the order they were specified
        {{#patches}}
            RUN {{{oracle_home}}}/OPatch/opatch apply -silent -oh {{{oracle_home}}} -nonrollbackable {{{tempDir}}}/patches/{{{.}}}
        {{/patches}}
        RUN {{{oracle_home}}}/OPatch/opatch util cleanup -silent -oh {{{oracle_home}}}
    {{/strictPatchOrdering}}
{{/isPatchingEnabled}}
