# Copyright (c) 2021, 2024, Oracle and/or its affiliates.
# Licensed under the Universal Permissive License v 1.0 as shown at https://oss.oracle.com/licenses/upl.
#
# Installing Middleware

FROM os_update AS wls_build
{{#buildArgs}}ARG {{{.}}}
{{/buildArgs}}
ARG TARGETPLATFORM

LABEL com.oracle.weblogic.imagetool.buildid="{{buildId}}"

ENV JAVA_HOME={{{java_home}}} \
ORACLE_HOME={{{oracle_home}}} \
OPATCH_NO_FUSER=true

RUN mkdir -p {{{oracle_home}}} \
{{#isCustomInventoryLoc}}
    && mkdir -p {{inv_loc}} \
    && chown {{userid}}:{{groupid}} {{inv_loc}} \
{{/isCustomInventoryLoc}}
&& mkdir -p {{orainv_dir}} \
&& chown {{userid}}:{{groupid}} {{orainv_dir}} \
&& chown {{userid}}:{{groupid}} {{{oracle_home}}}

{{#installJava}}COPY --from=jdk_build --chown={{userid}}:{{groupid}} {{{java_home}}} {{{java_home}}}/
{{/installJava}}
# copy all installers and response files to the stage directory
{{#installPackages}}COPY --chown={{userid}}:{{groupid}} fmw {{{tempDir}}}/{{{type}}}
{{/installPackages}}
COPY --chown={{userid}}:{{groupid}} oraInst.loc {{inv_loc}}/

USER {{userid}}

{{#beforeFmwInstall}}
    {{{.}}}
{{/beforeFmwInstall}}

# If installer is packaged in a ZIP, extract it before running it
# IF the installer is a JAR file (not a .bin), run the silent install using Java
# If the installer is a BIN, make sure it is executable and run the installer
#
# installPackagesForARM - list of packages to install for arm64 platform
# installPackagesForAMD - list of packages to install for amd64 platform


RUN if [ "$TARGETPLATFORM" == "linux/arm64" ] ; then \
        echo "INSTALLING MIDDLEWARE" \
        {{#installPackagesForARM}}
          {{> install-middleware-pkg }}
      {{/installPackagesForARM}}
      && test $? -eq 0 \
      && chmod -R g+r {{{oracle_home}}} \
      || (grep -vh "NOTIFICATION" /tmp/OraInstall*/install*.log && exit 1); \
     fi  && \
    if [ "$TARGETPLATFORM" == "linux/amd64" ] ; then \
        echo "INSTALLING MIDDLEWARE" \
        {{#installPackagesForAMD}}
          {{> install-middleware-pkg }}
        {{/installPackagesForAMD}}
    && test $? -eq 0 \
    && chmod -R g+r {{{oracle_home}}} \
    || (grep -vh "NOTIFICATION" /tmp/OraInstall*/install*.log && exit 1); \
    fi

{{#useOwnerPermsForGroup}}
  # OPatch needs write permissions to the logs folder and lock file when running in OpenShift
  RUN mkdir -p ${ORACLE_HOME}/cfgtoollogs \
   && chmod g=u ${ORACLE_HOME}/cfgtoollogs \
   && chmod g=u ${ORACLE_HOME}/inventory/locks/oh.lock
{{/useOwnerPermsForGroup}}

{{> fmw-patching}}

{{#afterFmwInstall}}
    {{{.}}}
{{/afterFmwInstall}}
