#
# Copyright (c) 2021, 2024, Oracle and/or its affiliates.
#
# Licensed under the Universal Permissive License v 1.0 as shown at https://oss.oracle.com/licenses/upl.
#
# Ensure necessary OS packages are installed
{{#useYum}}
    RUN yum -y update \
    && yum -y --downloaddir={{{tempDir}}} install {{#osPackages}}{{{.}}} {{/osPackages}}\
    && yum -y --downloaddir={{{tempDir}}} clean all \
    && rm -rf /var/cache/yum/* \
    && rm -rf {{{tempDir}}}
{{/useYum}}
{{#useDnf}}
    RUN dnf -y update \
    && dnf -y install {{#osPackages}}{{{.}}} {{/osPackages}}\
    && dnf clean all
{{/useDnf}}
{{#useMicroDnf}}
    RUN microdnf -y update \
    && microdnf -y install {{#osPackages}}{{{.}}} {{/osPackages}}\
    && microdnf clean all
{{/useMicroDnf}}
{{#useMicroDnf8}}
    RUN microdnf update \
    && microdnf install {{#osPackages}}{{{.}}} {{/osPackages}}\
    && microdnf clean all
{{/useMicroDnf8}}
{{#useAptGet}}
    RUN apt-get -y update \
    && apt-get -y upgrade \
    && apt-get -y install {{#osPackages}}{{{.}}} {{/osPackages}}\
    && apt-get -y clean all
{{/useAptGet}}
{{#useApk}}
    RUN apk update \
    && apk upgrade \
    && rm -rf /var/cache/apk/*
{{/useApk}}
{{#useZypper}}
    RUN zypper -nq update \
    && zypper -nq clean \
    && rm -rf /var/cache/zypp/*
{{/useZypper}}