#
# Copyright (c) 2019, 2020, Oracle and/or its affiliates.
#
# Licensed under the Universal Permissive License v 1.0 as shown at https://oss.oracle.com/licenses/upl.
#
#

{{#isRebaseToTarget}}
FROM {{sourceImage}} as SOURCE_IMAGE
FROM {{targetImage}} as FINAL_BUILD
ARG ADMIN_PORT
ARG MANAGED_SERVER_PORT

ENV ADMIN_PORT=${ADMIN_PORT} \
    MANAGED_SERVER_PORT=${MANAGED_SERVER_PORT} \
    DOMAIN_HOME={{{domain_home}}}
LABEL com.oracle.weblogic.imagetool.buildid="{{buildId}}"

{{/isRebaseToTarget}}
{{#isRebaseToNew}}
    FROM {{sourceImage}} as SOURCE_IMAGE
    FROM {{baseImage}} as OS_UPDATE
    ARG ADMIN_PORT
    ARG MANAGED_SERVER_PORT

    ENV ADMIN_PORT=${ADMIN_PORT} \
        MANAGED_SERVER_PORT=${MANAGED_SERVER_PORT} \
        DOMAIN_HOME={{{domain_home}}}

    LABEL com.oracle.weblogic.imagetool.buildid="{{buildId}}"
    USER root

    {{#useYum}}
        RUN yum -y --downloaddir={{{tempDir}}} install gzip tar unzip libaio jq \
        && yum -y --downloaddir={{{tempDir}}} clean all \
        && rm -rf /var/cache/yum/* \
        && rm -rf {{{tempDir}}}
    {{/useYum}}
    {{#useDnf}}
        RUN dnf -y install gzip tar unzip libaio jq \
        && dnf clean all
    {{/useDnf}}
    {{#useMicroDnf}}
        RUN microdnf install gzip tar unzip libaio jq findutils diffutils shadow-utils \
        && microdnf clean all
    {{/useMicroDnf}}
    {{#useAptGet}}
        RUN apt-get -y update \
        && apt-get -y upgrade \
        && apt-get -y install gzip tar unzip libaio jq \
        && apt-get -y clean all
    {{/useAptGet}}
    {{#useApk}}
        RUN apk update \
        && apk upgrade \
        && rm -rf /var/cache/apk/*
    {{/useApk}}
    {{#useZypper}}
        RUN zypper -nq update \
        && zypper -nq clean \
        && rm -rf /var/cache/zypp/*
    {{/useZypper}}

    ## Create user and group
    RUN if [ -z "$(getent group {{groupid}})" ]; then hash groupadd &> /dev/null && groupadd {{groupid}} || exit -1 ; fi \
    && if [ -z "$(getent passwd {{userid}})" ]; then hash useradd &> /dev/null && useradd -g {{groupid}} {{userid}} || exit -1; fi \
    && mkdir /u01 \
    && chown {{userid}}:{{groupid}} /u01 \
    && chmod 775 /u01

    {{#installJava}}
        # Install Java
        FROM OS_UPDATE as JDK_BUILD
        LABEL com.oracle.weblogic.imagetool.buildid="{{buildId}}"

        ENV JAVA_HOME={{{java_home}}}

        COPY --chown={{userid}}:{{groupid}} {{java_pkg}} {{{tempDir}}}/

        USER {{userid}}

        {{#beforeJdkInstall}}
            {{{.}}}
        {{/beforeJdkInstall}}

        RUN tar xzf {{{tempDir}}}/{{java_pkg}} -C /u01 \
        && mv /u01/jdk* {{{java_home}}} \
        && rm -rf {{{tempDir}}} \
        && rm -f {{{java_home}}}/javafx-src.zip {{{java_home}}}/src.zip

        {{#afterJdkInstall}}
            {{{.}}}
        {{/afterJdkInstall}}
    {{/installJava}}

    FROM OS_UPDATE as WLS_BUILD
    # Install middleware
    LABEL com.oracle.weblogic.imagetool.buildid="{{buildId}}"

    ENV JAVA_HOME={{{java_home}}} \
        ORACLE_HOME={{{oracle_home}}} \
        OPATCH_NO_FUSER=true

    RUN mkdir -p {{{oracle_home}}} \
    {{#isCustomInventoryLoc}}
        && mkdir -p {{inv_loc}} \
        && chown {{userid}}:{{groupid}} {{inv_loc}} \
    {{/isCustomInventoryLoc}}
    && mkdir -p {{orainv_dir}} \
    && chown {{userid}}:{{groupid}} {{orainv_dir}} \
    && chown {{userid}}:{{groupid}} {{{oracle_home}}}

    {{#installJava}}
        COPY --from=JDK_BUILD --chown={{userid}}:{{groupid}} {{{java_home}}} {{{java_home}}}/
    {{/installJava}}

    {{#installPackages}}COPY --chown={{userid}}:{{groupid}} {{installerFilename}} {{responseFile.name}} {{{tempDir}}}/
    {{/installPackages}}
    COPY --chown={{userid}}:{{groupid}} oraInst.loc {{inv_loc}}/

    {{#isOpatchPatchingEnabled}}
        COPY --chown={{userid}}:{{groupid}} {{{opatchFileName}}} {{{tempDir}}}/opatch/
    {{/isOpatchPatchingEnabled}}

    {{#isPatchingEnabled}}
        COPY --chown={{userid}}:{{groupid}} patches/* {{{tempDir}}}/patches/
    {{/isPatchingEnabled}}

    USER {{userid}}

    {{#beforeFmwInstall}}
        {{{.}}}
    {{/beforeFmwInstall}}

    RUN echo "INSTALLING MIDDLEWARE" \
    {{#installPackages}}
        && echo "RUNNING {{type}} INSTALLER" \
        && {{#isZip}}unzip -q {{{tempDir}}}/{{installerFilename}} "*.jar" -d {{{tempDir}}} &&{{/isZip}} \
        {{{java_home}}}/bin/java -Xmx1024m -jar {{{tempDir}}}/{{jarName}} -silent ORACLE_HOME={{{oracle_home}}} \
        -responseFile {{{tempDir}}}/{{responseFile.name}} -invPtrLoc {{inv_loc}}/oraInst.loc -ignoreSysPrereqs -force -novalidation \
    {{/installPackages}}
    && chmod -R g+r {{{oracle_home}}}

    {{#isOpatchPatchingEnabled}}
    RUN cd {{{tempDir}}}/opatch \
        && {{{java_home}}}/bin/jar -xf {{{tempDir}}}/opatch/{{{opatchFileName}}} \
        && {{{java_home}}}/bin/java -jar {{{tempDir}}}/opatch/6880880/opatch_generic.jar -silent -ignoreSysPrereqs -force -novalidation oracle_home={{{oracle_home}}}
    {{/isOpatchPatchingEnabled}}
    {{#isPatchingEnabled}}
        {{^strictPatchOrdering}}
            # Apply all patches provided at the same time
            RUN {{{oracle_home}}}/OPatch/opatch napply -silent -oh {{{oracle_home}}} -phBaseDir {{{tempDir}}}/patches \
            && test $? -eq 0 \
            && {{{oracle_home}}}/OPatch/opatch util cleanup -silent -oh {{{oracle_home}}} \
            || (cat {{{oracle_home}}}/cfgtoollogs/opatch/opatch*.log && exit 1)
        {{/strictPatchOrdering}}
        {{#strictPatchOrdering}}
            # Apply one patch at a time in the order they were specified
            {{#patches}}
                RUN {{{oracle_home}}}/OPatch/opatch apply -silent -oh {{{oracle_home}}} {{{tempDir}}}/patches/{{{.}}}
            {{/patches}}
            RUN {{{oracle_home}}}/OPatch/opatch util cleanup -silent -oh {{{oracle_home}}}
        {{/strictPatchOrdering}}
    {{/isPatchingEnabled}}

    {{#afterFmwInstall}}
        {{{.}}}
    {{/afterFmwInstall}}


    FROM OS_UPDATE as FINAL_BUILD

    ARG ADMIN_NAME
    ARG ADMIN_HOST
    ARG ADMIN_PORT
    ARG MANAGED_SERVER_PORT

    ENV ORACLE_HOME={{{oracle_home}}} \
    {{#installJava}}
        JAVA_HOME={{{java_home}}} \
    {{/installJava}}
    LC_ALL=${DEFAULT_LOCALE:-en_US.UTF-8} \
    PATH=${PATH}:{{{java_home}}}/bin:{{{oracle_home}}}/oracle_common/common/bin:{{{oracle_home}}}/wlserver/common/bin:{{{oracle_home}}}

    LABEL com.oracle.weblogic.imagetool.buildid="{{buildId}}"

    {{#installJava}}
        COPY --from=JDK_BUILD --chown={{userid}}:{{groupid}} {{{java_home}}} {{{java_home}}}/
    {{/installJava}}

    COPY --from=WLS_BUILD --chown={{userid}}:{{groupid}} {{{oracle_home}}} {{{oracle_home}}}/
    {{#copyOraInst}}
        COPY --from=WLS_BUILD --chown={{userid}}:{{groupid}} {{inv_loc}}/oraInst.loc  {{inv_loc}}/oraInst.loc
    {{/copyOraInst}}
    {{#copyOraInventoryDir}}
        COPY --from=WLS_BUILD --chown={{userid}}:{{groupid}} {{orainv_dir}} {{orainv_dir}}/
    {{/copyOraInventoryDir}}
{{/isRebaseToNew}}

USER {{userid}}
RUN mkdir -p {{domain_home}}
COPY --from=SOURCE_IMAGE --chown={{userid}}:{{groupid}} {{domain_home}} {{domain_home}}/
RUN chmod g+w {{{domain_home}}}

EXPOSE $ADMIN_PORT $MANAGED_SERVER_PORT
WORKDIR {{{work_dir}}}

{{#finalBuildCommands}}
    {{{.}}}
{{/finalBuildCommands}}

