# Copyright (c) 2019, 2021, Oracle and/or its affiliates.
# Licensed under the Universal Permissive License v 1.0 as shown at https://oss.oracle.com/licenses/upl.
#

{{#isRebaseToTarget}}
FROM {{sourceImage}} as source_image
FROM {{targetImage}} as final_build

ENV DOMAIN_HOME={{{domain_home}}}
LABEL com.oracle.weblogic.imagetool.buildid="{{buildId}}"

{{/isRebaseToTarget}}
{{#isRebaseToNew}}
    FROM {{sourceImage}} as source_image
    FROM {{baseImage}} as os_update

    ENV DOMAIN_HOME={{{domain_home}}}

    LABEL com.oracle.weblogic.imagetool.buildid="{{buildId}}"
    USER root
    {{#initialBuildCommands}}
        {{{.}}}
    {{/initialBuildCommands}}
    # Use package manager to make sure that unzip, tar, and other required packages are installed
    {{> package-managers}}

    # Create the Oracle user that will be the owner of the installed software
    {{> create-user-group}}

    # If Java is not already in the base image, install it
    {{#installJava}}
        {{> install-java }}
    {{/installJava}}

    # If an Oracle Home is not already in the base image, install the middleware components
    {{#installMiddleware}}
        {{> install-middleware }}
    {{/installMiddleware}}

    FROM os_update as final_build

    ENV ORACLE_HOME={{{oracle_home}}} \
        LD_LIBRARY_PATH={{{oracle_home}}}/oracle_common/adr:$LD_LIBRARY_PATH \
    {{#installJava}}
        JAVA_HOME={{{java_home}}} \
    {{/installJava}}
        PATH=${PATH}:{{{java_home}}}/bin:{{{oracle_home}}}/oracle_common/common/bin:{{{oracle_home}}}/wlserver/common/bin:{{{oracle_home}}}

    LABEL com.oracle.weblogic.imagetool.buildid="{{buildId}}"

    {{#installJava}}
        COPY --from=jdk_build --chown={{userid}}:{{groupid}} {{{java_home}}} {{{java_home}}}/
    {{/installJava}}

    {{#installMiddleware}}
        COPY --from=wls_build --chown={{userid}}:{{groupid}} {{{oracle_home}}} {{{oracle_home}}}/
    {{/installMiddleware}}

    {{#copyOraInst}}
        COPY --from=wls_build --chown={{userid}}:{{groupid}} {{inv_loc}}/oraInst.loc  {{inv_loc}}/oraInst.loc
    {{/copyOraInst}}
    {{#copyOraInventoryDir}}
        COPY --from=wls_build --chown={{userid}}:{{groupid}} {{orainv_dir}} {{orainv_dir}}/
    {{/copyOraInventoryDir}}
{{/isRebaseToNew}}

USER {{userid}}
RUN mkdir -p {{domain_home}}
{{^modelOnly}}
    COPY --from=source_image --chown={{userid}}:{{groupid}} {{domain_home}} {{domain_home}}/
{{/modelOnly}}
{{#modelOnly}}
    COPY --from=source_image --chown={{userid}}:{{groupid}} {{{wdt_home}}} {{{wdt_home}}}/
    {{#isWdtModelHomeOutsideWdtHome}}
        COPY --from=wdt_build --chown={{userid}}:{{groupid}} {{wdt_model_home}} {{wdt_model_home}}/
    {{/isWdtModelHomeOutsideWdtHome}}
{{/modelOnly}}

{{#domainGroupAsUser}}
    RUN chmod g=u {{{domain_home}}}
{{/domainGroupAsUser}}

WORKDIR {{{work_dir}}}

{{#finalBuildCommands}}
    {{{.}}}
{{/finalBuildCommands}}

