# Copyright (c) 2021, 2025, Oracle and/or its affiliates.
# Licensed under the Universal Permissive License v 1.0 as shown at https://oss.oracle.com/licenses/upl.
#
# Create WLS domain (or model)

FROM {{{wdtBase}}} AS wdt_build
{{#buildArgs}}ARG {{{.}}}
{{/buildArgs}}
LABEL com.oracle.weblogic.imagetool.buildid="{{buildId}}"

ENV WLSDEPLOY_PROPERTIES="{{{wlsdeploy_properties}}} -Djava.security.egd=file:/dev/./urandom" \
DOMAIN_HOME={{{domain_home}}}

COPY --chown={{userid}}:{{groupid}} {{{wdtInstaller}}} {{{tempDir}}}/

USER root

RUN mkdir -p {{{wdt_home}}} \
&& chown {{userid}}:{{groupid}} {{{wdt_home}}}

USER {{userid}}

RUN cd {{{wdt_home}}} \
&& mkdir -p {{{wdt_model_home}}} \
&& mkdir -p $(dirname {{{domain_home}}})

{{#wdtModels}}
    COPY --chown={{userid}}:{{groupid}} ["{{{.}}}", "{{{wdt_model_home}}}/"]
{{/wdtModels}}

{{#wdtArchives}}
    COPY --chown={{userid}}:{{groupid}} ["{{{.}}}", "{{{wdt_model_home}}}/"]
{{/wdtArchives}}

{{#wdtVariables}}
    COPY --chown={{userid}}:{{groupid}} ["{{{.}}}", "{{{wdt_model_home}}}/"]
{{/wdtVariables}}

RUN test -d {{{wdt_home}}}/weblogic-deploy && rm -rf {{{wdt_home}}}/weblogic-deploy || echo Initial WDT install \
{{#usingWdtTarGzInstaller}}
  && tar zxf {{{tempDir}}}/{{{wdtInstaller}}} -C {{{wdt_home}}}
{{/usingWdtTarGzInstaller}}
{{^usingWdtTarGzInstaller}}
  && unzip -q {{{tempDir}}}/{{{wdtInstaller}}} -d {{{wdt_home}}}
{{/usingWdtTarGzInstaller}}

{{#beforeWdtCommand}}
    {{{.}}}
{{/beforeWdtCommand}}

{{^modelOnly}}
    RUN cd {{{wdt_home}}}/weblogic-deploy/bin \
    && {{#isWdtUseEncryption}}echo {{{wdtEncryptionKey}}} | {{/isWdtUseEncryption}} ./{{wdtCommand}} \
    -oracle_home {{{oracle_home}}} \
    -domain_home {{{domain_home}}} \
    -domain_type {{domainType}} \
    {{#isWdtUseEncryption}}
        -use_encryption \
    {{/isWdtUseEncryption}}
    {{#runRcu}}
        -run_rcu \
    {{/runRcu}}
    {{{wdtVariableFileArgument}}} {{{wdtModelFileArgument}}} {{{wdtArchiveFileArgument}}}
    {{#useOwnerPermsForGroup}}
        RUN chmod -R g=u {{{domain_home}}}
    {{/useOwnerPermsForGroup}}
{{/modelOnly}}
{{#isWdtValidateEnabled}}
    RUN cd {{{wdt_home}}}/weblogic-deploy/bin \
    && rm ./*.cmd \
    {{#useOwnerPermsForGroup}}
        && chmod -R g=u {{{wdt_home}}}/weblogic-deploy/lib \
        && mkdir {{{wdt_home}}}/weblogic-deploy/logs \
        && chmod g=u {{{wdt_home}}}/weblogic-deploy/logs \
    {{/useOwnerPermsForGroup}}
    && ./validateModel.sh {{^strictValidation}}-method lax{{/strictValidation}} \
    -oracle_home {{{oracle_home}}} \
    -domain_type {{domainType}} \
    {{{wdtVariableFileArgument}}} {{{wdtModelFileArgument}}} {{{wdtArchiveFileArgument}}} \
    && rm {{{wdt_home}}}/weblogic-deploy/logs/* \
    && shopt -s globstar && rm -f {{{wdt_home}}}/weblogic-deploy/lib/python/**/*.class
{{/isWdtValidateEnabled}}

{{#afterWdtCommand}}
    {{{.}}}
{{/afterWdtCommand}}
