#
# Copyright (c) 2019 Oracle and/or its affiliates. All rights reserved.
#
# Licensed under the Universal Permissive License v 1.0 as shown at http://oss.oracle.com/licenses/upl.
#
#
{{#isWdtEnabled}}
    FROM {{baseImage}} as WDT_BUILD
    LABEL WlsImageToolLayer="intermediate"

    ARG WDT_PKG
    ARG DOMAIN_PARENT
    ARG DOMAIN_HOME
    ARG RCU_RUN_FLAG

    ENV WDT_PKG=${WDT_PKG:-weblogic-deploy.zip} \
        DOMAIN_PARENT=${DOMAIN_PARENT:-/u01/domains} \
        WLSDEPLOY_PROPERTIES={{wlsdeploy_properties}} \
        LC_ALL=${DEFAULT_LOCALE:-en_US.UTF-8} \
        PROPERTIES_FILE_DIR={{{oracle_home}}}/properties \
        RCU_RUN_FLAG=${RCU_RUN_FLAG:-} \
        DOMAIN_HOME=${DOMAIN_HOME:-/u01/domains/base_domain} \
        PATH=$PATH:{{{java_home}}}/bin:{{{oracle_home}}}/oracle_common/common/bin:{{{oracle_home}}}/wlserver/common/bin:${DOMAIN_HOME}/bin:{{{oracle_home}}}

    USER root

    COPY --chown={{userid}}:{{groupid}} ${WDT_PKG} {{{tmpDir}}}/

    RUN mkdir -p {{{wdt_home}}} \
    && chown {{userid}}:{{groupid}} {{{wdt_home}}}

    USER {{userid}}

    RUN cd {{{wdt_home}}} \
    && mkdir models archives variables \
    && mkdir -p $(dirname ${DOMAIN_HOME}) \
    && mkdir -p ${PROPERTIES_FILE_DIR}

    {{#wdtModels}}
        COPY --chown={{userid}}:{{groupid}} {{.}} {{{wdt_home}}}/models/
    {{/wdtModels}}

    {{#wdtArchives}}
        COPY --chown={{userid}}:{{groupid}} {{.}} {{{wdt_home}}}/archives/
    {{/wdtArchives}}

    {{#wdtVariables}}
        COPY --chown={{userid}}:{{groupid}} {{.}} {{{wdt_home}}}/variables/
    {{/wdtVariables}}

    RUN cd {{{wdt_home}}} \
    && jar xf {{{tmpDir}}}/$WDT_PKG

    {{^modelOnly}}
        RUN cd {{{wdt_home}}} \
        && if [ -n "${RCU_RUN_FLAG}" ]; then RCU_RUN_OPT="-run_rcu"; fi \
        && cd weblogic-deploy/bin \
        && chmod u+x ./*.sh \
        && ./{{wdtCommand}} \
        -oracle_home {{{oracle_home}}} \
        -domain_home ${DOMAIN_HOME} \
        -domain_type {{domainType}} \
        $RCU_RUN_OPT \
        {{{wdtVariableFileArgument}}} {{{wdtModelFileArgument}}} {{{wdtArchiveFileArgument}}}
    {{/modelOnly}}
    {{#modelOnly}}
        RUN cd {{{wdt_home}}} \
        && cd weblogic-deploy/bin \
        && chmod u+x ./*.sh \
        && ./validateModel.sh \
        -oracle_home {{{oracle_home}}} \
        {{{wdtVariableFileArgument}}} {{{wdtModelFileArgument}}} {{{wdtArchiveFileArgument}}}
    {{/modelOnly}}

{{/isWdtEnabled}}

FROM {{baseImage}} as OS_UPDATE
USER root

ARG PATCHDIR
{{#isWdtEnabled}}
    ARG DOMAIN_PARENT
    ARG DOMAIN_HOME
{{/isWdtEnabled}}

ENV PATCHDIR=${PATCHDIR:-patches} \
    OPATCH_NO_FUSER=true

{{#isWdtEnabled}}
ENV ADMIN_NAME=${ADMIN_NAME:-admin-server} \
    ADMIN_HOST=${ADMIN_HOST:-wlsadmin} \
    ADMIN_PORT=${ADMIN_PORT:-7001} \
    MANAGED_SERVER_NAME=${MANAGED_SERVER_NAME:-} \
    MANAGED_SERVER_PORT=${MANAGED_SERVER_PORT:-8001} \
    DOMAIN_PARENT=${DOMAIN_PARENT:-/u01/domains} \
    DOMAIN_HOME=${DOMAIN_HOME:-/u01/domains/base_domain} \
    PATH=$PATH:${DOMAIN_HOME}/bin
{{/isWdtEnabled}}

USER {{userid}}

{{#isOpatchPatchingEnabled}}
    COPY --chown=oracle:oracle p28186730_139400_Generic.zip {{{tmpDir}}}/opatch/
    RUN cd {{{tmpDir}}}/opatch \
    && $JAVA_HOME/bin/jar -xf {{{tmpDir}}}/opatch/p28186730_139400_Generic.zip \
    && $JAVA_HOME/bin/java -jar {{{tmpDir}}}/opatch/6880880/opatch_generic.jar -silent -ignoreSysPrereqs -force -novalidation oracle_home=$ORACLE_HOME \
    && rm -rf {{{tmpDir}}}
{{/isOpatchPatchingEnabled}}

{{#isPatchingEnabled}}
    COPY --chown={{userid}}:{{groupid}} $PATCHDIR/* {{{tempDir}}}/patches/

    RUN $ORACLE_HOME/OPatch/opatch napply -silent -oh $ORACLE_HOME -phBaseDir {{{tmpDir}}}/patches \
    && $ORACLE_HOME/OPatch/opatch util cleanup -silent -oh $ORACLE_HOME \
    && rm -rf {{{tmpDir}}}
{{/isPatchingEnabled}}

{{#isWdtEnabled}}
    {{#modelOnly}}
        COPY --from=WDT_BUILD --chown={{userid}}:{{groupid}} {{wdt_home}} {{wdt_home}}/
    {{/modelOnly}}
    {{^modelOnly}}
        COPY --from=WDT_BUILD --chown={{userid}}:{{groupid}} $DOMAIN_HOME $DOMAIN_HOME/
    {{/modelOnly}}
{{/isWdtEnabled}}
