#
# Copyright (c) 2019, 2020, Oracle and/or its affiliates.  All rights reserved.
#
# Licensed under the Universal Permissive License v 1.0 as shown at https://oss.oracle.com/licenses/upl.
#
#
{{#isWdtEnabled}}
    FROM {{baseImage}} as WDT_BUILD
    LABEL com.oracle.weblogic.imagetool.buildid="{{buildId}}"

    ENV WLSDEPLOY_PROPERTIES={{{wlsdeploy_properties}}} \
        LC_ALL=${DEFAULT_LOCALE:-en_US.UTF-8} \
        DOMAIN_HOME={{{domain_home}}} \
        PATH=${PATH}:{{{java_home}}}/bin:{{{oracle_home}}}/oracle_common/common/bin:{{{oracle_home}}}/wlserver/common/bin:{{{domain_home}}}/bin:{{{oracle_home}}}

    USER root

    COPY --chown={{userid}}:{{groupid}} {{{wdtInstaller}}} {{{tempDir}}}/

    RUN mkdir -p {{{wdt_home}}} \
    && chown {{userid}}:{{groupid}} {{{wdt_home}}}

    USER {{userid}}

    RUN cd {{{wdt_home}}} \
    && mkdir models \
    && mkdir -p $(dirname {{{domain_home}}})

    {{#wdtModels}}
        COPY --chown={{userid}}:{{groupid}} {{.}} {{{wdt_home}}}/models/
    {{/wdtModels}}

    {{#wdtArchives}}
        COPY --chown={{userid}}:{{groupid}} {{.}} {{{wdt_home}}}/models/
    {{/wdtArchives}}

    {{#wdtVariables}}
        COPY --chown={{userid}}:{{groupid}} {{.}} {{{wdt_home}}}/models/
    {{/wdtVariables}}

    {{#beforeWdtCommand}}
        {{{.}}}
    {{/beforeWdtCommand}}

    RUN cd {{{wdt_home}}} \
    && jar xf {{{tempDir}}}/{{{wdtInstaller}}}

    {{^modelOnly}}
        RUN cd {{{wdt_home}}} \
        && cd weblogic-deploy/bin \
        && chmod u+x ./*.sh \
        && ./{{wdtCommand}} \
        -oracle_home {{{oracle_home}}} \
        -domain_home {{{domain_home}}} \
        -domain_type {{domainType}} \
        {{#runRcu}}
            -run_rcu \
        {{/runRcu}}
        {{{wdtVariableFileArgument}}} {{{wdtModelFileArgument}}} {{{wdtArchiveFileArgument}}}
    {{/modelOnly}}
    {{#modelOnly}}
        RUN cd {{{wdt_home}}} \
        && cd weblogic-deploy/bin \
        && chmod u+x ./*.sh \
        && ./validateModel.sh {{^strictValidation}}-method lax{{/strictValidation}} \
        -oracle_home {{{oracle_home}}} \
        -domain_type {{domainType}} \
        {{{wdtVariableFileArgument}}} {{{wdtModelFileArgument}}} {{{wdtArchiveFileArgument}}}
    {{/modelOnly}}

    {{#afterWdtCommand}}
        {{{.}}}
    {{/afterWdtCommand}}
{{/isWdtEnabled}}

FROM {{baseImage}} as FINAL_BUILD
USER root

ENV OPATCH_NO_FUSER=true

{{#isWdtEnabled}}
ENV ADMIN_NAME=${ADMIN_NAME:-admin-server} \
    ADMIN_HOST=${ADMIN_HOST:-wlsadmin} \
    ADMIN_PORT=${ADMIN_PORT:-7001} \
    MANAGED_SERVER_NAME=${MANAGED_SERVER_NAME:-} \
    MANAGED_SERVER_PORT=${MANAGED_SERVER_PORT:-8001} \
    DOMAIN_HOME={{{domain_home}}} \
    PATH=${PATH}:{{{domain_home}}}/bin
{{/isWdtEnabled}}

LABEL com.oracle.weblogic.imagetool.buildid="{{buildId}}"

USER {{userid}}

{{#isOpatchPatchingEnabled}}
    COPY --chown=oracle:oracle {{{opatchFileName}}} {{{tempDir}}}/opatch/
    RUN cd {{{tempDir}}}/opatch \
    && {{{java_home}}}/bin/jar -xf {{{tempDir}}}/opatch/{{{opatchFileName}}} \
    && {{{java_home}}}/bin/java -jar {{{tempDir}}}/opatch/6880880/opatch_generic.jar -silent -ignoreSysPrereqs -force -novalidation oracle_home={{{oracle_home}}} \
    && rm -rf {{{tempDir}}}
{{/isOpatchPatchingEnabled}}

{{#isPatchingEnabled}}
    COPY --chown={{userid}}:{{groupid}} patches/* {{{tempDir}}}/patches/

    RUN {{{oracle_home}}}/OPatch/opatch napply -silent -oh {{{oracle_home}}} -phBaseDir {{{tempDir}}}/patches \
    && {{{oracle_home}}}/OPatch/opatch util cleanup -silent -oh {{{oracle_home}}} \
    && rm -rf {{{tempDir}}}
{{/isPatchingEnabled}}

{{#isWdtEnabled}}
    {{#modelOnly}}
        COPY --from=WDT_BUILD --chown={{userid}}:{{groupid}} {{wdt_home}} {{wdt_home}}/
    {{/modelOnly}}
    {{^modelOnly}}
        COPY --from=WDT_BUILD --chown={{userid}}:{{groupid}} {{{domain_home}}} {{{domain_home}}}/
    {{/modelOnly}}
{{/isWdtEnabled}}

{{#finalBuildCommands}}
    {{{.}}}
{{/finalBuildCommands}}

